/* ------ START WRITING YOUR CODE BELOW ------ */

/* Imported Typeface Files */

@font-face {
    font-family:Lato;
    src: url(../makda206.github.io/fonts/lato-regular.ttf);
    font-style:normal;
    font-weight:normal;
}
@font-face {

    font-family:Montserrat;
    src: url(../makda206.github.io/fonts/montserrat-regular.ttf);
    font-style:normal;
    font-weight:normal;
}

.container {column-width: 200px}


.subsection {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-column-gap: 1rem;

}


h1 {

border-color: mediumvioletred;
background-color: darkred;
color: white;
border-radius: 1.25rem .75rem;
padding: .5rem;
font-weight: bold;    
}

